<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
            {% for item in name %}
                <div class="col-md-4">
                    <img src="./thumb/{{item.url}}" class="img-fluid">
                </div>
                {% if loop.index % 3 == 0%}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <h1>Hello, world!</h1>
    </body>
</html>
