<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="semantic/dist/semantic.min.js"></script>
        <title>Home</title>
    </head>
    <body>
        <div class="ui fixed menu">
            <div class="ui container">
                <a href="#" class="header item">
                    5 Dog Farm Photography
                </a>
                <a href="#" class="item">About Us</a>
                <a href="#" class="item">Hire Us</a>
                <div class="right menu">
                    <a href="login" class="ui item">
                        Login
                    </a>
                </div>
            </div>
        </div>
        <div class="ui raised very padded text container" style="margin: 1em">
            <h2 class="ui header">Hello World</h2>
            <p>Test</p>
            <p></p>
            <div class="ui link cards">
            {% for item in name %}
            <div class="card" onclick=" window.open('./i/{{item.id}}','_blank')">
                    <div class="image">
                        <img src="./thumb/{{item.id}}">
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </body>
</html>
