<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/semantic/dist/icon.min.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="/semantic/dist/semantic.min.js"></script>
        <title>Settings</title>
    </head>
    <body>
        <div class="ui raised very padded text container" style="margin: 3em">
            <div class="ui massive breadcrumb">
                <a href="/dashboard" class="section">Dashboard</a>
                <span class="divider">/</span>
                <a href="/settings" class="section">Settings</a>
                <span class="divider">/</span>
                <div class="active section">New API Key</div>
            </div>
            <h5 class="ui top attached segment">
                Creating a new API key
            </h5>
            <div class="ui bottom attached segment">
                <form action="/api/key/new" method="POST">
                <div class="ui form">
                    <div class="field">
                        <label>Permissions</label>
                        <select name="permissions" multiple="" class="ui dropdown">
                            <option value="">Select Permissions</option>
                            <option value="Admin">Admin</option>
                            <option value="Upload">Upload</option>
                            <option value="Finance">Finance</option>
                        </select>
                        <script>
                            $(document).ready(function() {
                                $('.ui.dropdown').dropdown();
                            });
                        </script>
                    </div>
                    <div class="field">
                        <label>Expiration</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="expiration" required>
                            <i class="dropdown icon"></i>
                            <div class="default text">Expiration</div>
                            <div class="menu">
                                <div class="item" data-value="10">10 minutes</div>
                                <div class="item" data-value="60">1 hour</div>
                                <div class="item" data-value="1440">1 day</div>
                                <div class="item" data-value="2880">2 days</div>
                                <div class="item" data-value="43200">1 month</div>
                                <div class="item" data-value="259200">6 months</div>
                                <div class="item" data-value="518400">1 year</div>
                            </div>
                        </div>
                    </div>
                    <div>
                <button id="submit" class="submit ui button" type="submit">Create my new API key</button>
                </div>
                </div>
                </form>
            </div>
        </div>
    </body>
</html>
