<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/semantic/dist/icon.min.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="semantic/dist/semantic.min.js"></script>
        <title>Settings</title>
    </head>
    <body>
        <div class="ui raised very padded text container" style="margin: 3em">
            <div class="ui massive breadcrumb">
                <a href="/dashboard" class="section">Dashboard</a>
                <span class="divider">/</span>
                <div class="active section">Settings</div>
            </div>
            <h5 class="ui top negative attached header">
                User Information
            </h5>
            <div class="ui bottom attached segment">
                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="large user middle aligned icon"></i>
                        <div class="content">
                            <h5 class="header">Username</h5>
                            <div class="description">{{ username }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large birthday cake aligned icon"></i>
                        <div class="content">
                            <h5 class="header">Account Created</h5>
                            <div class="description">{{ created }}</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large shield alternate aligned icon"></i>
                        <div class="content">
                            <h5 class="header">Permissions</h5>
                            <div class="description">{{ permissions }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="ui top attached header">
                API Keys
            </h5>
            <div class="ui bottom attached segment">
                <table class="ui celled striped table">
                    <thead>
                        <tr><th>
                                Created
                            </th>
                            <th>
                                Permissions
                            </th>
                            <th>
                                Action
                            </th>
                        </tr></thead>
                        <tbody>
                            <tr>
                                <td class="collapsing">
                                    10 hours ago
                                </td>
                                <td>[Upload, Finance]</td>
                                <td class="right aligned collapsing">
                                    <button class="negative ui button small icon" onclick="submit.call(this)"><i class="trash icon"></i></button>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>

            <h5 class="ui top negative attached header">
                Danger Zone
            </h5>
            <div class="ui bottom attached segment">
                <a href="/settings/delete" class="fluid negative ui button">Delete my account</a>
            </div>
        </div>
    </body>
</html>
